<script type="text/javascript" src="Scripts/scroll.js"></script>
<div class="green-back row box-container">
    <div id="about-animation">
        <h2 class="title">O NAS</h2>
        <div class="subtitle">Kilka Słów O Szkółce AMI</div>
        <div class="separator"></div>
        <section class="description col-sm-8 col-xs-12 clearfix left">
            <h5>Witaj na stronie Szkółki Jeździeckiej AMI w Kunicach k/Legnicy.</h5>
            <p>Jazdy w szkółce prowadzi <em>Joanna Jurkowska</em>, instruktor rekreacji ruchowej ze spejclanością jazda konna, po Technikum Hodowli Koni, z wieloletnim doświadczeniem w pracy z końmi. Wszystkie wierzchowce, które biorą udział w nauce jazdy były przez nią wyhodowane i zajeżdżane. <br />
            Dysponujemy trawiastym placem do jazdy, miejscem do lonżowania początkujących, jazdy typowo szkoleniowe urozmaicamy wyjazdami w teren dla bardziej doświadczonych jeźdźców.
            Organizujemy również corocznie <em>Hubertusa</em> z poszukiwaniem lisiej kity i ogniskiem oraz wiosną i latem pikniki jeździeckie dla naszych najmłodszych jeźdźców.
            Posiadamy w ofercie konie śląskie i szlachetnej półkrwi <strong>na sprzedaż</strong>. Wszsystkie wystawione na stronie konie są naszej hodowli - <a href ="#offer" class="scroll-link">Konie na sprzedaż</a></p>
                <p>Jeśli Ty lub Twoje dziecko chce spróbować jazdy konnej, zapraszamy do nas! Zapewniamy nie tylko naukę jazdy w siodle, ale w ramach wykupionej lekcji również pomoc w czyszczeniu, siodłanie, kiełznanie oraz oporządzanie po jeździe w zależności od samodzielności jeźdźca. Przejdź do sekcji <a href ="#offer" class="scroll-link">"Oferta"</a> aby dowiedzieć się więcej.</p>

            <p class="cta-text">Zapraszamy</p>
        </section>
        <section class="image col-sm-4 col-xs-12">
            <img class="centered-object img-responsive" src="Images/Team/about_img.png"
                 alt="Nauka Jazdy Konnej AMI"/>
        </section>
    </div>
</div>