<div class="about">
    <section class="parlex7-back">
        <div class="w-container">
            <div id="about-animation">
                <div class="wrap">
                    <div class="about">
                        <h1 class="about-heading">O NAS</h1>
                        <div class="about-text">KILKA SŁÓW O SZKÓŁCE</div>
                        <div class="separator"></div>
                    </div>
                    <p class="about-des">Tu jest jakiś tkst o szkółce, kiedy powstała, od jakiego konia sie zaczęła, kto założył gdzie sieznajduje itd itd.
                    </p>
                    <!--<img class="about-img" src="images/about.png"
                    alt="52de15aa5d3566c14300015e_about.png">-->
                </div>
            </div>
        </div>
    </section>
</div>