<div class="about row box-container">
    <div id="about-animation">
                <h1 class="title">O NAS</h1>
                <div class="subtitle">Kilka Słów O Szkółce</div>
                <div class="separator"></div>
            <p class="description col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8  col-sm-offset-1 col-sm-10 col-xs-12">Witamy na stronie szkółki jeździeckiej AMI, która znajduje się w Kunicach legnickich. Zachęcamy do obejrzenia galerii i zapoznania się z ofertą stajni.
                ZAPRASZAMY!
            </p>
            <!--<img class="about-img" src="images/about.png"
            alt="52de15aa5d3566c14300015e_about.png">-->
    </div>
</div>