<div class="parlex8-back">
    <div class="contact-form-section row  box-container">
        <h1 class="title">KONTAKT</h1>
        <div class="subtitle">Formularz Kontaktowy</div>
        <div class="separator"></div>
        <p class="description">W jakich sprawach kontaktować się, jesli na jazdę - prosze telefonicznie
        <br>Bla bla bla</p>
        <div class="contact-form col-xs-12 col-md-offset-2 col-md-8">
            <script language="javascript">var sa_email_id = '52103-daea7';var sa_sent_text = 'Dziękujemy za wiadomość!';</script>
            <script language="javascript" src="http://s1.smartaddon.com/sa_htmlform.js"></script>
            <div id="sa_contactdiv">
                <form name=sa_htmlform style="margin:0px" onsubmit="return sa_contactform()">
                    <table>
                        <tr><td>Imię:<br><input class="inputs" type="text" name="name" required="true" /></td></tr>
                        <tr><td>E-mail:<br><input class="inputs" type="text" name="email" required="true" /></td></tr>
                        <tr><td>Wiadomość:<br><textarea class="inputs" name="message" cols="42" rows="9" required="true"></textarea></td></tr>
                        <tr><td><input class="confirm-button inputs" type="submit" value="Wyślij"></td></tr>
                    </table>
                </form><!--<div style="padding-top:10px"><a href="http://www.smartaddon.com/contact_form.html">Contact Form</a> provided by SmartAddon.com</div>-->
            </div>
        </div>
    </div>


        <div class="w-container">
            <div class="w-row contact-col">
                <div class="w-col w-col-3 contact-col1">
                    <div>
                        <a href="#"><img src="images/icons/home168.png" alt="Kunice, Słoneczna 28"/></a>
                        <h4 class="contact-col-head">Adres</h4>
                    </div>
                    <div>
                        <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                            <div class="contact-col-text">ul. Słoneczna 28, Kunice k. Legnicy</div>
                        </div>
                    </div>
                </div>
                <div class="w-col w-col-3 contact-col2">
                    <div>
                        <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                            <a href="#"><img src="images/icons/sign39.png" alt="konieami@interia.pl"/></a>
                        </div>
                        <h4 class="contact-col-head">E-mail</h4>
                    </div>
                    <div>
                        <div class="contact-col-text">konieami@interia.pl
                        </div>
                    </div>
                </div>
                <div class="w-col w-col-3 contact-col3">
                    <div>
                        <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                            <a href="#"><img src="images/icons/telephone5.png" alt="Joanna Jurkowska"/></a>
                        </div>
                        <h4 class="contact-col-head">Telefon</h4>
                    </div>
                    <div>
                        <div class="contact-col-text-bar-last"> +48 603 401 692
                        </div>
                    </div>
                </div>
                <div class="w-col w-col-3 contact-col4">
                    <div>
                        <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                            <a href="#"><img src="images/icons/facebook3.png" alt="Joanna Jurkowska"/></a>
                        </div>
                        <h4 class="contact-col-head">Facebook</h4>
                    </div>
                    <div>
                        <div class="contact-col-text-bar-last"> <a href="https://www.facebook.com/HodowlaKoniSlaskichAmi">Polub</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>