<div class="parlex8-back">
    <div class="contact-form-section row  box-container">
        <h1 class="title">KONTAKT</h1>
        <div class="subtitle">Formularz Kontaktowy</div>
        <div class="separator"></div>
        <p class="description">W jakich sprawach kontaktować się, jesli na jazdę - prosze telefonicznie
        <br>Bla bla bla</p>
        <div class="contact-form col-xs-12 col-md-offset-2 col-md-8">
            <script language="javascript">var sa_email_id = '52103-daea7';var sa_sent_text = 'Dziękujemy za wiadomość!';</script>
            <script language="javascript" src="http://s1.smartaddon.com/sa_htmlform.js"></script>
            <div id="sa_contactdiv">
                <form name=sa_htmlform style="margin:0px" onsubmit="return sa_contactform()">
                    <table>
                        <tr><td>Imię:<br><input class="inputs" type="text" name="name" required="true" /></td></tr>
                        <tr><td>E-mail:<br><input class="inputs" type="text" name="email" required="true" /></td></tr>
                        <tr><td>Wiadomość:<br><textarea class="inputs" name="message" cols="42" rows="9" required="true"></textarea></td></tr>
                        <tr><td><input class="confirm-button inputs" type="submit" value="Wyślij"></td></tr>
                    </table>
                </form><!--<div style="padding-top:10px"><a href="http://www.smartaddon.com/contact_form.html">Contact Form</a> provided by SmartAddon.com</div>-->
            </div>
            <div class="separator"></div>
        </div>

    </div>

    <div class="map-section">

        <script>
            $.getScript("Scripts/map.js",function(){
                $(document).ready(ready);
            });
        </script>
        <script>
            function initialize() {
                var mapCanvas = document.getElementById('map-canvas');
                myLatlng = new google.maps.LatLng(51.227339, 16.2570139);
                var mapOptions = {
                    center: myLatlng,
                    zoom: 12,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    scrollwheel: false
                        };

                var map = new google.maps.Map(mapCanvas, mapOptions);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: 'Szkółka Jazdy Konnej AMI'
                });

            }
            google.maps.event.addDomListener(window, 'load', initialize);
        </script>
        <div id="map-canvas" class="map"></div>
    </div>

    <div class="info-section row box-container">
        <div class="separator"></div>
            <div class="col-xs-12 col-sm-3">
                <div class="info-column">
                    <img src="Images/Contact/home168.png" class="img-responsive" alt="Kunice, Słoneczna 28"/>
                    <h2 class="subtitle">Adres</h2>
                    <div class="description">ul. Słoneczna 28, Kunice k. Legnicy</div>
                </div>
            </div>
            <div class="col-xs-12  col-sm-3">
                <div class="info-column">
                    <img src="Images/Contact/sign39.png" class="img-responsive" alt="konieami@interia.pl"/>
                    <h2 class="subtitle">E-mail</h2>
                    <div class="description">konieami@interia.pl</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="info-column">
                    <img src="Images/Contact/telephone5.png"  class="img-responsive" alt="Joanna Jurkowska"/>
                    <h2 class="subtitle">Telefon</h2>
                    <div class="description"> +48 603 401 692
                    </div>
                </div>
            </div>
            <div class="col-xs-12  col-sm-3">
                <div class="info-column">
                        <a href="#"><img src="Images/Contact/facebook3.png" class="img-responsive" alt="Joanna Jurkowska"/></a>
                    <h2 class="subtitle">Facebook</h2>
                    <div class="description"> <a href="https://www.facebook.com/HodowlaKoniSlaskichAmi" target="_blank">Nasz FANPAGE</a>
                    </div>
                </div>
            </div>
    </div>




</div>

