<div class="contact-parlex" >
    <div class="parlex8-back">
        <div class="w-container">
            <div class="wrap">
                <div class="contact-div">
                    <h1 class="contact-heading">KONTAKT</h1>
                    <div class="sepreater"></div>
                </div>
                <p class="contact-para">Thanks for taking the time to contact us!
                    <br>We do our best to respond to quickly, it could take us 1-2 business days to get back to you. Feel free to say hello!</p>
                <div class="w-form">
                    <form action="contact.php" method="post">
                        <label for="name">Name:</label>
                        <input class="w-input" type="text" placeholder="Enter your name" name="cf_name">
                        <label for="email">Email Address:</label>
                        <input class="w-input" placeholder="Enter your email address" type="text" name="cf_email" required="required">
                        <label for="email">Your Message:</label>
                        <textarea class="w-input message" placeholder="Enter your Message Here" name="cf_message"></textarea><br>
                        <input class="w-button" type="submit" value="Send">
                    </form>
                    <div class="w-form-done">
                        <p>Thank you! Your submission has been received!</p>
                    </div>
                    <div class="w-form-fail">
                        <p>Oops! Something went wrong while submitting the form :(</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-container">
            <div class="w-row contact-col">
                <div class="w-col w-col-3 contact-col1">
                    <div>
                        <a href="#"><img src="images/icons/home168.png" alt="Kunice, Słoneczna 28"/></a>
                        <h4 class="contact-col-head">Adres</h4>
                    </div>
                    <div>
                        <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                            <div class="contact-col-text">ul. Słoneczna 28, Kunice k. Legnicy</div>
                        </div>
                    </div>
                </div>
                <div class="w-col w-col-3 contact-col2">
                    <div>
                        <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                            <a href="#"><img src="images/icons/sign39.png" alt="konieami@interia.pl"/></a>
                        </div>
                        <h4 class="contact-col-head">E-mail</h4>
                    </div>
                    <div>
                        <div class="contact-col-text">konieami@interia.pl
                        </div>
                    </div>
                </div>
                <div class="w-col w-col-3 contact-col3">
                    <div>
                        <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                            <a href="#"><img src="images/icons/telephone5.png" alt="Joanna Jurkowska"/></a>
                        </div>
                        <h4 class="contact-col-head">Telefon</h4>
                    </div>
                    <div>
                        <div class="contact-col-text-bar-last"> +48 603 401 692
                        </div>
                    </div>
                </div>
                <div class="w-col w-col-3 contact-col4">
                    <div>
                        <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                            <a href="#"><img src="images/icons/facebook3.png" alt="Joanna Jurkowska"/></a>
                        </div>
                        <h4 class="contact-col-head">Facebook</h4>
                    </div>
                    <div>
                        <div class="contact-col-text-bar-last"> <a href="https://www.facebook.com/HodowlaKoniSlaskichAmi">Polub</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>