<div class="footer-parlex">
    <div class="parlex9-back">
        <div class="box-container row">
                <img class="footer-logo" src="Images/Common/logo_footer_AMI.png" alt="Szkółka Jazdy Konnej AMI"/>
            <div class="separator"></div>
                <div class="footer-social">
                    <a href="https://www.facebook.com/HodowlaKoniSlaskichAmi"><img class="social-img" src="Images/Common/Facebook.png" alt="AMI Facebook"></a>
                </div>
                <div>
                    <div class="footer-text"><p class="footer-quote">ZAPRASZAMY!</p>
                        <p class="copyright-area">©2015 Szkółka Jazdy Konnej AMI</p></div>
                </div>
        </div>
    </div>
</div>

