<div class="footer-container">
    <img class="footer-logo" src="Images/Common/footer-logo.png" alt="Elegance">
    <div class="footer-social">
        <div class="fotter-social-wrap">
            <a href="https://www.facebook.com/"><img class="fotter-social" src="images/social/Facebook.png" alt="52dd249c929b601f5400054c_Facebook.png"></a>
        </div>
    </div>
    <div>
        <div class="footer-text"><p class="fotter-quote">ZAPRASZAMY!</p>
            <p class="copyright-area">©2015 Szkółka Jazdy Konnej AMI</p></div>
    </div>
</div>
