<div class="portfolio-parlex">
    <div class="parlex8-back">
        <div class="portfolio row box-container">
            <h1 class="title">GALERIA</h1>
            <div class="subtitle">ZDJĘCIA Z RÓŻNYCH IMPREZ ORGANIZOWANYCH PRZEZ SZKÓŁKĘ</div>
            <div class="separator"></div>
        </div>
        <p class="description">Zdjęcina nadesłane przez uczniów, z Hubertusów, pikników i inych imprez</p>
        <ul class="tiles clearfix">
            <li class="col-sm-4 col-xs-12">
                <figure class="">
                    <img class="portfolio-images img-responsive" src="Images/Gallery/hubertus.png" alt="img01">
                    <figcaption>
                        <h3>Hubertus</h3>
                        <span>Kunice 2008</span>
                        <a href="#">Obejrzyj całą galerię</a>
                    </figcaption>
                </figure>
            </li>
            <li class="col-sm-4 col-xs-12">
                <figure>
                    <img class="portfolio-images img-responsive" src="Images/Gallery/tereny.png" alt="img02">
                    <figcaption>
                        <h3>Music</h3>
                        <span>Jacob Cummings</span>
                        <a href="#">Objerzyj całą galerię</a>
                    </figcaption>
                </figure>
            </li>
            <li class="col-sm-4 col-xs-12">
                <figure>
                    <img class="portfolio-images img-responsive" src="Images/Gallery/tereny.png" alt="img03">
                    <figcaption>
                        <h3>Settings</h3>
                        <span>Jacob Cummings</span>
                        <a href="#">Take a look</a>
                    </figcaption>
                </figure>
            </li>
            <li class="col-sm-4 col-xs-12">
                <figure>
                    <img class="portfolio-images img-responsive" src="Images/Gallery/hubertus.png" alt="img01">
                    <figcaption>
                        <h3>Hubertus</h3>
                        <span>Kunice 2008</span>
                        <a href="#">Obejrzyj całą galerię</a>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
</div>