<div class="portfolio-parlex">
    <div class="parlex8-back">
        <div class="portfolio row box-container">
            <h1 class="title">GALERIA</h1>
            <div class="subtitle">ZDJĘCIA Z RÓŻNYCH IMPREZ ORGANIZOWANYCH PRZEZ SZKÓŁKĘ</div>
            <div class="separator"></div>
        </div>
        <p class="description">Zdjęcina nadesłane przez uczniów, z Hubertusów, pikników i inych imprez</p>
        <ul class="tiles clearfix">
            <li class="col-sm-4 col-xs-12">
                <figure class="back-1 portfolio-images">
                    <!--<img class="portfolio-images img-responsive" src="Images/Gallery/hubertus.png" alt="img01">-->
                    <figcaption>
                        <h3>Hubertus</h3>
                        <span>Kunice 2008</span>
                        <!--<a href="#">Obejrzyj całą galerię</a>-->
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                            Obejrzyj galerię
                        </button>
                    </figcaption>
                    <!-- Button trigger modal -->

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                </div>
                                <div class="modal-body">
                                    <!--*********************************************************************** -->
                                    <div id="quotes-carousel" class="carousel slide" data-interval="3000" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#quotes-carousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#quotes-carousel" data-slide-to="1"></li>
                                            <li data-target="#quotes-carousel" data-slide-to="2"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div class="active item">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>

                                            </div>
                                            <div class="item">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>

                                            </div>
                                            <div class="item">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                            </div>
                                        </div>
                                        <!-- Carousel nav -->
                                        <a class="carousel-control left" href="#quotes-carousel" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                        </a>
                                        <a class="carousel-control right" href="#quotes-carousel" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </div>
                                    <!--*********************************************************************** -->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </figure>
            </li>
            <li class="col-sm-4 col-xs-12">
                <figure class="back-2 portfolio-images">
                   <!-- <img class="portfolio-images img-responsive" src="Images/Gallery/tereny.png" alt="img02">-->
                    <figcaption>
                        <h3>Music</h3>
                        <span>Jacob Cummings</span>
                        <a href="#">Objerzyj całą galerię</a>
                    </figcaption>
                </figure>
            </li>
            <li class="col-sm-4 col-xs-12">
                <figure class="back-1 portfolio-images">
                    <!--<img class="portfolio-images img-responsive" src="Images/Gallery/tereny.png" alt="img03">-->
                    <figcaption>
                        <h3>Settings</h3>
                        <span>Jacob Cummings</span>
                        <a href="#">Take a look</a>
                    </figcaption>
                </figure>
            </li>
            <li class="col-sm-4 col-xs-12">
                <figure class="back-2 portfolio-images">
                    <!--<img class="portfolio-images img-responsive" src="Images/Gallery/hubertus.png" alt="img01">-->
                    <figcaption>
                        <h3>Hubertus</h3>
                        <span>Kunice 2008</span>
                        <a href="#">Obejrzyj całą galerię</a>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
</div>