<nav class="navbar navbar-fixed-top navbar-default white no-border">
    <div class="container-fluid header">
        <div class="navbar-header">

            <a href="#"><img src="Images/Common/logo.png" alt="Szkółka Jazdy Konnej AMI"/></a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


        </div>

        <div class="collapse header-navbar navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><a href="#home">START<span class="sr-only">(current)</span></a></li>
                <li data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><a href="#about">O NAS</a></li>
                <li data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><a href="#offer">OFERTA</a></li>
                <li data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><a href="#prices">CENNIK</a></li>
                <li data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><a href="#gallery">GALERIA</a></li>
                <li data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><a href="#contact">KONTAKT</a></li>
            </ul>
        </div>
    </div>
</nav>

<script type="text/javascript" src="../Scripts/header.js"></script>