<section class="portfolio-parlex">
    <div class="parlex5-back">
                <div class="services row box-container">
                        <h1 class="title">OFERTA</h1>
                        <div class="subtitle">Co oferuje szkółka jazdy konnej AMI</div>
                        <div class="separator"></div>
                    <div class="description">Kilka słów o tym jak organizowane są jazdy, że trzeba dzwonić, umawiac się nakpeoje z uprzedzeniem itd itd</div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="service">
                                <a href="#offer" data-toggle="modal" data-target="#learning"><img class="img-responsive" src="Images/Offer/learning2.png"></a>
                                <!-- Modal -->
                                <div class="modal fade" id="learning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="learn_label">Nauka jazdy od podstaw</h4>
                                            </div>
                                            <div class="modal-body">
                                                ...
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>





                            <h4 class="service-head">Nauka Jazdy Konnej Od Podstaw</h4>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="service">
                                <a href="#offer"  data-toggle="modal" data-target="#exercising"><img class="img-responsive" src="Images/Offer/learning3.png"></a>

                                <div class="modal fade" id="exercising" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="exercise_label">Doskonalenie umiejętności jeździeckich</h4>
                                            </div>
                                            <div class="modal-body">
                                                ...
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h4 class="service-head">Doskonalenie Umiejętności Jeździeckich</h4>
                        </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="service">
                                <a href="#offer"  data-toggle="modal" data-target="#sale"><img class="img-responsive" src="Images/Offer/for_sale.png"></a>
                                <div class="modal fade" id="sale" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="sale_label">Konie na sprzedaż</h4>
                                            </div>
                                            <div class="modal-body">
                                                ...
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h4 class="service-head">Sprzedaż Koni</h4>
                        </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="service">
                                <a href="#offer"  data-toggle="modal" data-target="#training"><img class="img-responsive" src="Images/Offer/harness.png"></a>
                                <div class="modal fade" id="training" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="train_label">Przygotowanie koni do pracy w zaprzęgu</h4>
                                            </div>
                                            <div class="modal-body">
                                                ...
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h4 class="service-head">Oprzęganie</h4>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</section>