<div class="service-back">
    <div class="darken-back">
        <div class="row box-container">
            <h1 class="title">OFERTA</h1>
            <div class="subtitle">Jakie Usługi Oferuje AMI</div>
            <div class="separator"></div>
            <div class="description">AMI to głównie szkółka jazdy konnej, jednak oferujemy również inne usługi. Klikij na zdjęcie aby dowiedzieć się więcej! </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="service">
                        <a href="#" data-toggle="modal" data-target="#learning"><img class="img-responsive" src="Images/Offer/learning2.png" alt="Nauka Jazdy Konnej"></a>
                        <h4>Nauka Jazdy Konnej Od Podstaw</h4>
                    </div>
                    <div class="modal fade" id="learning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="learn_label">Nauka jazdy od podstaw</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Pierwsza jazda odbywa się zawsze na lonży; uczeń porusza się na koniu po kole wokół instruktora, który trzyma wierzchowce na linie zwanej lonżą. Wykonywane są różne ćwiczenia rozciągajace i rozgerzwające, które przygotują ciało jeźdźca do zadań, które stawia mu jazda konna. Pierwsze lekcje to głównie praca nad równowagą w stępie i kłusie, oraz w przejściach między tymi chodami. Po odpięciu lonży jeździec uczy się panować na tempem i kierunkiem w jakim koń się porusza. Jeśli jeździec dobrze sobie radzi na maneżu - może wybrać się w teren.</p>
                                    <p>Oprócz ćwiczeń w siodle, uczeń również poznaje podstawowe pojęcia związane z końmi, sprzętem jeździeckim oraz jazdą. Uczy się czyścić oraz siodłać i kiełznać konia, rozczyszcza po lekcji, lub zlewa wodą, jeśli są wysokie temperatury.</p>
                                    <p>Każdy uczeń podczas lekcji musi mieć na głowie kask, który może wypożyczyć na miejscu bezpłatnie. Na pierwszą jazdę nie trzeba kupować profesjonalnego sprzętu jeździeckiego, wystarczą pełne buty na płaskim obcasie i długie, elastyczne, dość dopasowane spodnie, których będziemy w stanie wykonywać na przykład skłony. Nie zaleca sie ubierania biżuterii (dużych kolczyków, długich łańcuszków), ponieważ mogą zaczepić się o sprzęt podczas jazdy. </p>
                                    <p><strong>Na lekcję zawsze umawiamy się z uprzedzeniem - TELEFONICZNIE</strong></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Zamknij</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="service">
                        <a href="#"  data-toggle="modal" data-target="#exercising"><img class="img-responsive" src="Images/Offer/learning3.png" alt="Nauka Jazdy Konnej"></a>
                        <h4>Doskonalenie Umiejętności Jeździeckich</h4>
                    </div>
                    <div class="modal fade" id="exercising" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="exercise_label">Doskonalenie umiejętności jeździeckich</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Jeśli jeździec opanował podstawy powodowania koniem, może skupić na doskonaleniu swoich umiejętności. Jazdy ujeżdżeniowe odbywają na wydzielonym terenie - maneżu, gdzie instruktor dobierając odpowiedni zestaw ćwiczeń pracuje z uczniem nad jego dosiadem, skutecznością pomocy jeździeckich, subtelnością w obchodzeniu się z koniem. W zależności od dobranego konia, jeździecmoże odkrywać różne braki w swoim wyszkoleniu i będzie mógł nad nimi pracować.</p>
                                    <p>
                                        W trakcie wyjazdów w teren również wykonywane są różne ćwiczenia, które mają podnieść wydolność fizyczną jeźdźca lub zwiększyć jego pewnosć siebie w siodle również w otwartym terenie.
                                    </p>
                                    <p><strong>Na lekcję zawsze umawiamy się z uprzedzeniem - TELEFONICZNIE</strong></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Zamknij</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="service">
                        <a href="#"  data-toggle="modal" data-target="#sale"><img class="img-responsive" src="Images/Offer/for_sale.png" alt="Konie na sprzedaż"></a>
                        <h4>Sprzedaż Koni</h4>
                    </div>
                    <div class="modal fade" id="sale" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="sale_label">Konie na sprzedaż</h4>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Posiadamy w ofercie konie śląskie i sp w różnym wieku i w różnych fazach wyszkolenia. Poniżej znajduje się lista tych koni.
                                    </p>

                                    <p>
                                        <strong>Rebelia</strong> sp.- ur.25.05.2008<br/>
                                        o. APIS m.Rubina / Prymus
                                        m. Rubina<br/>
                                        Ujeżdżona pod siodło, bezproblemowa w obejściu, pod siodłem zdecydowanie "do przodu", niewysoka, mocnej, krępej budowy, odważna w terenie. Zdrowa, nigdy nie kontuzjowana, regularnie odrobaczana. Bez narowów.<br/>
                                        <br/>

                                        <strong>Rafinat śl.</strong><br/>
                                        Spokojny wałach, bez narowów, bezproblemowy w obejściu. Bardzo szybko się uczy, chętnie współpracuje, z zaciekawieniem podchodzi do nowych zadań. Ujeżdżony, odważny w terenie, zdrowy, regularnie odrobaczany i werkowany. Jest bardzo wrażliwy, potrzebuje spokojnego i cierpliwego jeźdźca.<br/>
                                        <br/>

                                        <strong>Rewolta</strong> śl. - 1503 G WŁ, ur. 23.04.2006, wys. ok. 169 cm<br />
                                        m. Rafa / Barman
                                        o. Butanol<br/>
                                        Klacz śląska objęta programem dotacyjnym. Spokojna, bez narowów, zdrowa, regularnie odrobaczana, bardzo spokojna w obejściu. Chodzi w zaprzęgu. Zdała zakład Treningowy w Książu na ocenę bardzo dobrą. Bardzo dobrze sprawdziła się również w roli matki - aktualnie źrebak już odsadzony, klacz będzie zaźrebiona ogierem Basior.<br/><br/>

                                        <strong>Reda</strong> śl. - ur. 27.03.2007 r., wys. ok.170 cm<br />
                                        o. Butanol
                                        m.Raksa / Blok <br/>
                                        Ujeżdżona pod siodło, wysoka klacz. Ma silny charakter, jest bardzo inteligentna - wymaga doświadczonej i konsekwentnej osoby. Chętnie idzie do przodu, ma bardzo wygodne chody. Opanowana i odważna w terenie, chętnie idzie na pierwszego, Nie ma narowów, zdrowa, regularnie odrobaczana, podkuwana. Jej zdjęcia znajdują się również w galerii.<br/>
                                        <br/>

                                        <strong>Rosa</strong> śl. ur. 01.04.2012<br/>
                                        o.BASIOR 775 G WŁ
                                        m.REWOLTA 1735 GWŁ po BUTANOL 904<br/>
                                        Matka jest po zakładzie treningowym w Książu, zdanym na bardzo dobrą ocenę. Bardzo urodziwa klaczka, spokojna, przyzwyczajana do czyszczenia, podawania nóg, odważna. Jest już bardzo wysoka jak na odsadka w tym wieku-zapowiada się na wysoką klacz (matka ma 170 cm w kłębie). Nie sprawia problemów "wychowawczych", nie kopie i nie gryzie.<br /><br/>

                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Zamknij</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="service">
                        <a href="#"  data-toggle="modal" data-target="#training"><img class="img-responsive" src="Images/Offer/harness.png" alt="Zaprzęganie koni"></a>
                        <h4>Oprzęganie</h4>
                    </div>
                    <div class="modal fade" id="training" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="train_label">Przygotowanie koni do pracy w zaprzęgu</h4>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Jeśli mamy wolny boks, przyjmujemy konie do nauki chodzenia w zaprzęgu (singiel). W celu uzyskania dokładniejszych informacji prosimy o kontakt telefoniczny.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Zamknij</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>