<section class="portfolio-parlex">
    <div class="parlex5-back">
                <div class="services row box-container">
                        <h1 class="title">OFERTA</h1>
                        <div class="subtitle">Co oferuje szkółka jazdy konnej AMI</div>
                        <div class="separator"></div>
                    <div class="description">Kilka słów o tym jak organizowane są jazdy, że trzeba dzwonić, umawiac się nakpeoje z uprzedzeniem itd itd</div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="service">
                                <a href="#"><img class="img-responsive" src="Images/Offer/learning2.png"></a>

                            <h4 class="service-head">Nauka Jazdy Konnej Od Podstaw</h4>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="service">
                                <a href="#"><img class="img-responsive" src="Images/Offer/learning3.png"></a>
                            <h4 class="service-head">Doskonalenie Umiejętności Jeździeckich</h4>
                        </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="service">
                                <a href="#"><img class="img-responsive" src="Images/Offer/for_sale.png"></a>
                            <h4 class="service-head">Sprzedaż Koni</h4>
                        </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="service">
                                <a href="#"><img class="img-responsive" src="Images/Offer/harness.png"></a>
                            <h4 class="service-head">Oprzęganie</h4>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</section>