<div class="prices">
    <div class="darken-back row box-container">
        <h1 class="title">CENNIK</h1>
        <div class="subtitle">Cennik jazd</div>
        <div class="separator"></div>
        <p class="description">Od czego zależą ceny, dla początkujących, co taka cena obejmuje, w zależności od ustaiweń jazd czasem dziecko
            samo czysci, siodła, czasem rozsiodłuje i zmywa po jeździe... itd</p>
        <div class="tables">
            <div class="col-sm-4 col-xs-12">
                <div class="price-section">
                    <div class="background1">
                        <h4>JAZDA NA LONŻY</h4>
                        <div class="price">30zł / 0.5h</div>
                    </div>
                    <p class="price-text">
                        <br>Unlimited&nbsp;Email-Addresses
                        <br>
                        <br>50GB&nbsp;Disk&nbsp;Space
                        <br>
                        <br>Unlimited&nbsp;MySQL-Databases
                        <br>
                        <br>Unlimited&nbsp;Domains
                        <br>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="price-section border2">
                    <div class="background2">
                        <h4>JAZDA NA PADOKU</h4>
                        <div class="price">40zł / 1h</div>
                    </div>
                    <p class="price-text">
                        <br>Unlimited&nbsp;Email-Addresses
                        <br>
                        <br>80GB&nbsp;Disk&nbsp;Space
                        <br>
                        <br>Unlimited&nbsp;MySQL-Databases
                        <br>
                        <br>Unlimited&nbsp;Domains
                        <br>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="price-section border3">
                    <div class="background3">
                        <h4>JAZDA W TERENIE</h4>
                        <div class="price">40zł / 1h</div>
                    </div>
                    <p class="price-text">
                        <br>Unlimited&nbsp;Email-Addresses
                        <br>
                        <br>120GB&nbsp;Disk&nbsp;Space
                        <br>
                        <br>Unlimited&nbsp;MySQL-Databases
                        <br>
                        <br>Unlimited&nbsp;Domains
                        <br>
                </div>
            </div>
        </div>
    </div>
</div>