<div class="team-parlex">
    <div class="parlex5-back">
        <div class="w-container">
            <div class="wrap">
                <div class="our-plans row box-container">
                    <h1 class="title">CENNIK</h1>
                    <div class="subtitle">Cennik jazd</div>
                </div>
                <div class="separator"></div>
                <p class="description">Od czego zależą ceny, dla początkujących, co taka cena obejmuje, w zależności od ustaiweń jazd czasem dziecko
                    samo czysci, siodła, czasem rozsiodłuje i zmywa po jeździe... itd</p>
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <div class="plan1">
                            <div class="plan1-ser1">
                                <h4>JAZDA NA LONŻY</h4>
                                <div class="price">$15 / Month</div>
                            </div>
                            <p class="plan1-ser1-para">
                                <br>Unlimited&nbsp;Email-Addresses
                                <br>
                                <br>50GB&nbsp;Disk&nbsp;Space
                                <br>
                                <br>Unlimited&nbsp;MySQL-Databases
                                <br>
                                <br>Unlimited&nbsp;Domains
                                <br>
                                <br>Free&nbsp;Billing Systems</p><a class="plan-1-butn" href="#">Sign Up!</a>
                        </div>
                    </div>
                    <div class="w-col w-col-4">
                        <div class="plan1 plan2">
                            <div class="plan2-ser2">
                                <h4>JAZDA NA PADOKU</h4>
                                <div class="price">$25 / Month</div>
                            </div>
                            <p class="plan1-ser1-para">
                                <br>Unlimited&nbsp;Email-Addresses
                                <br>
                                <br>80GB&nbsp;Disk&nbsp;Space
                                <br>
                                <br>Unlimited&nbsp;MySQL-Databases
                                <br>
                                <br>Unlimited&nbsp;Domains
                                <br>
                                <br>Free&nbsp;Billing Systems</p><a class="plan-1-butn2 plan-1-butn" href="#">Sign Up!</a>
                        </div>
                    </div>
                    <div class="w-col w-col-4">
                        <div class="plan1 plan3">
                            <div class="plan1-ser1 plan3-ser3">
                                <h4>JAZDA W TERENIE</h4>
                                <div class="price">$50 / Month</div>
                            </div>
                            <p class="plan1-ser1-para">
                                <br>Unlimited&nbsp;Email-Addresses
                                <br>
                                <br>120GB&nbsp;Disk&nbsp;Space
                                <br>
                                <br>Unlimited&nbsp;MySQL-Databases
                                <br>
                                <br>Unlimited&nbsp;Domains
                                <br>
                                <br>Free&nbsp;Billing Systems</p><a class="plan-1-butn plan-1-butn3" href="#">Sign Up!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>