<div class="team">
    <div class="darken-back">
        <div class="row box-container">
            <h2 class="title">ZESPÓŁ</h2>
            <div class="subtitle">Nasz Instruktor I Uczniowie</div>
            <div class="separator"></div>
            <div class="description col-xs-12 col-md-8 col-md-offset-2">
                W naszej szkółce możesz spotkać zaróno bardzo młodych adeptów jeździectwa, jak i już dorosłych! Poniżej możesz przeczytać krótkie informacje o naszej instruktorce i o uczniach, których możesz u nas spotkać najczęściej.
            </div>
            <div class="row">
                <div class="col-sm-offset-4 col-sm-4 col-xs-12">
                    <div class="team-section">
                        <div class="team-image">
                            <img class="team-img img-responsive" src="Images/Team/aska.png" alt="Joanna Jurkowska">
                        </div>
                        <div class="team-des">
                            <h4 class="team-name">Joanna Jurkowska</h4>
                            <div class="team-name-des">Nasz Instruktor, przydziela wierzchowca w zależności od umiejętności jeźdźca, uczy od podstaw oporządzania konia, prowadzi lekcje na lonży, na maneżu i w terenie. Bardzo doświadczona, z wielkim sercem do koni, świetnym podejściem do dzieci i dorosłych. </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-member row">
                <div class="col-sm-4 col-xs-12">
                    <div class="team-section">
                        <div class="team-image">
                            <img class="team-img img-responsive" src="Images/Team/magda.png" alt="Joanna Jurkowska">
                        </div>
                        <div class="team-des">
                            <h4 class="team-name">Magda</h4>
                            <div class="team-name-des">Zaczęła swoją przygodę w AMI kiedy była jeszcze dzieckiem, wróciła jako już dorosła. Bardzo skrupulatnie pracuje z końmi na maneżu i w terenie, jej ulubieńcem jest Rajtar zwany Rysiem.</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="team-section">
                        <div class="team-image">
                            <img class="team-img img-responsive" src="Images/Team/natalia.png" alt="Joanna Jurkowska">
                        </div>
                        <div class="team-des">
                            <h4 class="team-name">Natalia</h4>
                            <div class="team-name-des">Jest bardzo odważnym jeźdźcem i duszą towarzystwa, czasami pomaga Instreuktorce w przygotowaniu i prowadzeniu jazd. Realizuje w AMI mnóstwo swoich pomysłów; jazda na oklep, skoki przez krzyżaki, pławienie koni, sesje zdjęciowe... to wszystko najchętniej by robiła ze swoją ukochaną klaczą - siwą Rebelią.</div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="team-section">
                        <div class="team-image">
                            <img class="team-img img-responsive" src="Images/Team/dorota.png" alt="Joanna Jurkowska">
                        </div>
                        <div class="team-des">
                            <h4 class="team-name">Dorota</h4>
                            <div class="team-name-des">Swoje pierwsze kroki stawiała w Ami w 2001r. na Roszadzie, po kilku latach kupiła jej córkę - siwą Rubinę. Mimo to, że przeniosła sie wraz z koniem do Wrocławia, jest stałym gościem w AMI, najchętniej dosiada wtedy Rafinata zwanego Romkiem.</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row box-container green-back">
        <div class="subtitle">Co O Nas Mówią</div>
        <div class="separator"></div>

        <div id="quotes-carousel" class="carousel slide" data-interval="3000" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#quotes-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#quotes-carousel" data-slide-to="1"></li>
                <li data-target="#quotes-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner quotes-width centered-object">
                <div class="active item">
                            <blockquote><p>W szkółce panuje miła i swobodna atmosfera, Asia poświęca jeźdźcom dużo uwagi i na każdej lekcji uczymy się czegoś nowego.</p><p><small>Natalia</small></p></blockquote>

                </div>
                <div class="item">
                    <blockquote class="blockquote-reverse"><p>Przyjeżdżam do AMI, żeby zrelaksować się po tygodniu pracy. Najchetniej wybieram się wtedy na spacer po okolicznych łąkach.</p><p><small>Kasia</small></p></blockquote>

                </div>
                <div class="item">
                    <blockquote><p>W AMI kupiłam mojego pierwszego konia, znałam go dobrze, bo jeździłam na nim w szkółce, to był strzał w dziesiątkę.</p><p><small>Dorota</small></p></blockquote>
                </div>
            </div>
            <a class="carousel-control left" href="#quotes-carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#quotes-carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>