<div class="team row">
    <div class="team-cover box-container">
        <h1 class="title">KADRA</h1>
        <div class="subtitle">Kilka słów o Aśce i jej jeźdźcach</div>
        <div class="separator"></div>
        <div class="description">Costam, ze w naszej stajni Aska ma instruktora, są jeźdźcy na w każdym
            stopniu zaawansowania bla bla bla
        </div>
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4 col-xs-12">
                <div class="team-section">
                    <div class="team-image">
                        <img class="team-img img-responsive" src="Images/Team/image1.png" alt="Joanna Jurkowska">
                    </div>
                    <div class="team-des">
                        <h4 class="team-name">Joanna Jurkowska</h4>
                        <div class="team-name-des">Instruktor</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row team-member">
            <div class="col-sm-4 col-xs-12">
                <div class="team-section">
                    <div class="team-image">
                        <img class="team-img" src="Images/Team/image1.png" alt="Joanna Jurkowska">
                    </div>
                    <div class="team-des">
                        <h4 class="team-name">Magda</h4>
                        <div class="team-name-des">Creative Director</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="team-section">
                    <div class="team-image">
                        <img class="team-img" src="Images/Team/image1.png" alt="Joanna Jurkowska">
                    </div>
                    <div class="team-des">
                        <h4 class="team-name">Natalia</h4>
                        <div class="team-name-des">Lead Developer</div>
                    </div>

                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="team-section">
                    <div class="team-image">
                        <img class="team-img" src="Images/Team/image1.png" alt="Joanna Jurkowska">
                    </div>
                    <div class="team-des">
                        <h4 class="team-name">Paulina</h4>
                        <div class="team-name-des">Graphic Designer</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>