.about {
    background-color: #0B6B29;
}
.our-process-heading {
    color: white;
}
.our-process-sys {
    color: white;
}
.service-head {
    color: white;
}

.about-img {
    display: block;
    margin: 50px auto 35px;
    text-align: center;
}