.contact-heading {
    color: white;
}
.contact-para {
    margin-top: 20px;
    margin-bottom: 30px;
    color: white;
    text-align: center;
}
.contac-map {
    background-color: transparent;
    color: black;
}

.contact-col {
    display: block;
    margin: 50px auto 30px;
    padding-top: 0px;
}
.contact-col-head {
    color: white;
}
.contact-col-text {
    border-right: 4px solid white;
    border-left: 4px none white;
    color: white;
    text-align: center;
}
.contact-col-text-bar-last {
    border-right: 0px none white;
    color: white;
    text-align: center;
}

.contact-form {
    text-align: center;
}

.contact-form table {
    width: 100%;
}

.contact-form td {
    color: #fff;
    font-size: 14px;
    padding: 10px;
}

.inputs {
    border-width: 1px;
    border-color: #ffce54;
    border-style: solid;
    color: #000;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.contact-form input[type='text'] {
    width: 60%;
}

.contact-form input[type='submit'] {
    font-weight: bold;
    color: #fff;
}

.contact-form textarea {
    width: 100%;
}

.confirm-button {
    background-color: #1F6B3F;
}