.footer-logo {
    display: block;
    margin: 0 auto 20px;
}
.footer-social {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.copyright-area {
    text-align: center;
    color: #fff;
    font-size: 15px;
}

.footer-back {
    background-image: url('../Images/Common/back_field3.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
}

.darken-back2 {
    background-color: rgba(0, 0, 0, 0.89);
}
.social-img {
    display: block;
    margin: 0 auto;
}