/* ************* GALLERY SECTION ************* */
.tiles{
    margin-bottom: 0;
}

.tiles>li {
    margin-bottom: 20px;
}

.portfolio-images {
    border: 10px solid #FFF;
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 5px 0 #20AE61;
    width: 300px;
    height: 245px;
}

.portfolio-images>figcaption {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 300px;
    padding: 20px;
    color: #2c3f52;
    background: #ffce54;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}
.portfolio-images>figcaption:hover {
    opacity: 1;
}


.portfolio-images>figcaption>span {
    display: block;
}

.portfolio-images>figcaption>button {
    text-align: center;
    margin-top: 20px;
    display: inline-block;
}

.portfolio-images>figcaption>h3 {
    margin: 0;
    padding: 0;
    color: #2c3f52;
}

.portfolio-images>img {
    max-width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.back-1 {
    background: url('../Images/Gallery/hubertus.jpg');
}

.back-2 {
    background: url('../Images/Gallery/tereny.jpg');
}

.back-3 {
    background: url('../Images/Gallery/inne.jpg');
    background-position: center;
}

.back-4 {
    background: url('../Images/Gallery/sprzedane.jpg');
    background-position: center;
}

/* ************* MODAL SECTION ************* */
.modal-header {
    padding-bottom: 0;
}
.modal-body {
    margin-top: 55px;
}

.carousel-inner>.item>img {
    display: block;
    max-height: 90vh;
    width: auto;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .portfolio-images {
        width: 200px;
        height: 150px;
    }
    .portfolio-images>figcaption {
        padding: 5px;
    }
    .portfolio-images>figcaption>h3 {
        margin: 0;
    }
}

@media(max-width: 768px){
    .portfolio-images>figcaption {
        position: absolute;
        top: 50%;
        height: 50px;
        width: 100%;
        opacity: 1;
        margin: 0 auto;
        padding: 5px;
    }
    .portfolio-images>figcaption>h3 {
        margin: 0;
    }

    .portfolio-images>figcaption>button {
        margin-top: 10px;
    }
    .portfolio-images {
        width: 300px;
        height: 245px;
    }
}

@media (max-width: 350px)
{
    .portfolio-images {
        width: 100%;
        float:left;
        height: 200px;
    }
}

