.portfolio-parlex {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.parlex8-back {
    padding-top: 15px;
    background-color: #1F6B3F;
}


.tiles li {
    margin-bottom: 20px;
}
.tiles{
    margin-bottom: 0px;
}

.tiles figure {
    margin: 0;
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.tiles figure img {
    max-width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.tiles figcaption {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 300px;
    padding: 20px;
    color: #2c3f52;
    background: #ffce54;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.tiles figcaption h3 {
    margin: 0;
    padding: 0;
    color: #2c3f52;
}

.tiles figcaption span:before {
    content: 'by ';
}

.portfolio-images {
    border: 10px solid #FFF;
    margin-bottom: 10px;
    margin-right: 15px;
    box-shadow: 5px 5px 0px #20AE61;
}

.tiles figcaption button {
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #a0d468;
    color: #2c3f52;
}

.portfolio-text {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}
.portfolio-heading {
    color: white;
}

/* Caption Style 1 */
.tiles figcaption {
    height: 100%;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

.tiles figcaption:hover {
    opacity: 1;
    /*-webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
    -ms-transform: translate(15px, 15px);
    transform: translate(15px, 15px);*/
}

.tiles figcaption h3 {
    margin-top: 25px;
}

.tiles figcaption span {
    display: block;
}

.tiles figcaption button {
    margin-top: 30px;
}

figure {
    width: 300px;
    height: 245px;

}
.back-1 {
    background: url('../Images/Gallery/hubertus.png');
}

.back-2 {
    background: url('../Images/Gallery/tereny.png');
}
/*
.grid {
    padding: 20px 20px 0px 20px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.grid li {
    display: inline-block;
    width: 210px;
    margin: 0;
    text-align: left;
    position: relative;
    margin-right: 20px;
    margin-bottom: 15px;
}

.grid figure {
    margin: 0;
    position: relative;
}

.grid figure img {
    max-width: 100%;
    display: block;
    position: relative;
}

.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    color: #2c3f52;
    background: #ffce54;
}

.grid figcaption h3 {
    margin: 0;
    padding: 0;
    color: #2c3f52;
}

.grid figcaption span:before {
    content: 'by ';
}

.portfolio-images {
    border: 10px solid #FFF;
    margin-bottom: 10px;
    margin-right: 15px;
    box-shadow: 5px 5px 0px #20AE61;
}

.grid figcaption a {
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #a0d468;
    color: #2c3f52;
}
*/
@media (max-width: 1024px) {
    figure {
        width: 200px;
        height: 150px;
    }
    .tiles figcaption {
        padding: 5px;
    }
    .tiles figcaption h3 {
        margin: 0;
    }
}

@media(max-width: 768px){
    .tiles figcaption {
        position: absolute;
        top: 50%;
        height: 50px;
        width: 100%;
        opacity: 1;
        margin: 0 auto;
        padding: 5px;
    }
    .tiles figcaption h3 {
        margin: 0;
    }

    .tiles figcaption button {
        margin-top: 10px;
    }
    figure {
        width: 300px;
        height: 245px;
    }
}


.quotes {
    background-color:  #1F6B3F;
}
#quotes-carousel:before {
    content: url("../Images/Team/quote5.png");
    opacity: 0.1;
    overflow: auto;
    left: 20%;
    top: 30px;
    position: relative;
}

.item{
    background: transparent;
    text-align: center;
    height: 200px;
}
.item p {
    font-size: 14px;
    font-style: italic;
    padding-left: 50px;
    padding-right: 50px;
}
.carousel{
    margin-top: 20px;
    margin-left: -15px;
    margin-right: -15px;
}
.carousel-control.right, .carousel-control.left {
    background: none;
}

