.service-back {
    background: url('../Images/Offer/back_forest.png');
    padding-top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.service{
    text-align: center;
    margin-bottom: 30px;
}

.service>a>img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.service>h4{
    color: #fff;
    font-variant: small-caps;
    font-size: 15px;
}

.offer-content>.modal-header {
    padding-bottom: 10px;
}
.offer-content>.modal-body {
    margin-top: 0px;
}

.offer-content>.modal-body>img{
    opacity: 0.2;
}