.prices {
    background-image: url('../Images/Prices/back_field2.png');
    background-attachment: fixed;
}

.ourplan-heading {
    color: white;
}
.our-plan-text {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 15px;
    text-align: center;
}
.our-plan-paragraph {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.price-section {
    border-style: solid;
    border-width: 1px 1px 4px;
    border-color: #ffce54;
    padding: 0;
    margin: 10px;
}
.plan1.plan3 {
    border-color: #a0d468;
}
.border3 {
    border-color: #fc6e51;
}
.background1 {
    background-color: #ffce54;
}

.border2 {
    border-width: 1px 1px 4px;
    border-color: #a0d468;
}

.plan1-ser1.plan3-ser3 {
    background-color: #a0d468;
}
.background3 {
    background-color: #fc6e51;
}
.plan1-ser1-para {

}
.price {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: center;
}

.price-section h4 {
    padding: 5px;
    font-size: 14px;
    text-align: center;
    color: #000;
}
.fixed-header {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 1);
}

.price-text {
    text-align: center;
    color: #fff;
    font-size: 13px;
}
.navbar {
}

.background2{
    background-color: #DBF363;
}