.prices {
    background-image: url('../Images/Prices/back_field2.jpg');
    background-attachment: fixed;
}

.price-section {
    border-style: solid;
    border-width: 1px 1px 4px;
    border-color: #ffce54;
    padding: 0;
    margin: 10px;
    text-align: center;
    color: #fff;
}

.price {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: center;
}

.price-title {
    padding: 5px;
    font-size: 14px;
    text-align: center;
    color: #000;
}

.price-text {
    text-align: center;
    color: #fff;
    font-size: 13px;
    padding: 5px 10px;
}

.background1 {
    background-color: #ffce54;
}

.background2{
    background-color: #C3DB4B;
}

.background3 {
    background-color: #fc6e51;
}

.border2 {
    border-width: 1px 1px 4px;
    border-color: #C3DB4B;
}

.border3 {
    border-color: #fc6e51;
}

.price-text>li{
    padding: 5px;
    text-align: left;
}