/* ************* TEAM SECTION ************* */

.team {
    padding-top: 0;
    background-image: url('../Images/Team/back_canter.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

.team-section {
    margin-top: 0;
    padding: 15px;
}

.team-image {
    background-color: rgba(255, 206, 84, 0.8);
}

.team-img {
    display: block;
    width: auto;
    height: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50%;
}

.team-des {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 15px;
}

.team-name {
    font-variant: small-caps;
    font-size: 14px;
}

.team-name-des {
    font-size: 12px;
}

/* ************* QUOTES SECTION ************* */

#quotes-carousel:before {
    content: url("../Images/Team/quote5.png");
    opacity: 0.1;
    overflow: auto;
    left: 20%;
    top: 30px;
    position: relative;
}

#quotes-carousel>.carousel-inner>.item{
    background: transparent;
    text-align: center;
    height: 200px;
}
#quotes-carousel>.carousel-inner>.item>p {
    font-size: 14px;
    font-style: italic;
    padding-left: 50px;
    padding-right: 50px;
}
#quotes-carousel>.carousel{
    margin-top: 20px;
    margin-left: -15px;
    margin-right: -15px;
}
.carousel-control.right, .carousel-control.left {
    background: none;
}

blockquote {
    text-align: center;
}
blockquote>p>small {
    color: #fff;
    text-align: right;
}

.carousel-inner {
    width: 80%;
}