.service-parlex {
    padding-top: 0px;
    background-image: url('../Images/Team/back_canter.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*.portfolio-parlex {
    background: url('../Images/Team/back_forest.png');
    padding-top: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/
.parlex5-back {
    padding-top: 15px;
    background-color: rgba(0, 0, 0, 0.74);
}
.team {
    padding-top: 0px;
    background-image: url('../Images/Team/back_canter.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    letter-spacing: 0px;
    text-indent: 0px;
}

.team-cover {
    background-color: rgba(0, 0, 0, 0.74);
}

.experinc-box {

}

.experinc-box-h3 {
    font-size: 65px;
    font-weight: 100;
    margin-bottom: 40px;
    margin-top: 25px;
    color: #FFF;
    border-bottom: 4px double rgba(255, 255, 255, 0.53);
    padding-bottom: 45px;
}

.team-text {
    color: #333;
}
.team-text-para {
    display: block;
    margin: 20px auto;
    color: white;
    font-size: 15px;
    text-align: center;
}
.team-section {
    margin-top: 0px;
    padding: 15px;
}
.team-image {
    background-color: rgba(255, 206, 84, 0.8);
}
.team-img {
    display: block;
    width: auto;
    height: auto;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50%;
}

.team-des {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 15px;
}

.team-name {
    font-variant: small-caps;
    font-size: 14px;
}

.team-name-des {
    font-size: 12px;
}